* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 35px;
}

h4 {
    font-weight: bold;
    color: green;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    color: rgb(0, 110, 255);
    margin-bottom: 2px;
}